<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Movie Details Page</h2>

    <div class="recipe-image-and-title">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          gap: 60px;
        "
      >
        <div class="recipe-details">
          <label>Movie Title:</label>
          <p>{{ title }}</p>
          <label>Year:</label>
          <p>{{ year }}</p>
          <label>Director:</label>
          <p>{{ director }}</p>
          <label>Plot</label>
          <p>{{ plot }}</p>
          <label>Genre</label>
          <p>{{ genre.join("/") }}</p>
        </div>
        <div
          style="max-height: 300px; overflow-y: auto; border: 1px solid #ccc"
        ></div>
      </div>
    </div>

    
  </div>
</div>
